﻿{% extends "layout.html" %}

{% block body %}

<div style="height: 5px"></div>
<span style="position: relative; top: 18px; left: 15px;"><h4 class="text-primary">Tickets</h4></span>
<hr>
<div style="height: 10px"></div>

<div class="card">
	<div class="card-block">
		<h5 class="card-title">All Open Tickets</h5>

		<table class="table table-hover table-sm" id="openIssues">
		  <thead>
			<tr>
			  <th>Importance</th>
			  <th>Location</th>
			  <th>Contact</th>
			  <th>Type</th>
			  <th>Assigned To</th>
			</tr>
		  </thead>

		  <tbody>
			{% for ticket in tickets %}
			<tr id="{{ticket._id}}">
				<td>{{ticket.issueImportance}}</td>
				<td>{{ticket.issueLocation}}</td>
				<td>{{ticket.issueReporterContactName}}</td>
				<td>{{ticket.issueType}}</td>
				<td>{{ticket.issueAssignedTo|getUser}}</td>
			</tr>
			{% endfor %}		  
		  </tbody>
		</table>
	
  </div>
</div>		

<div style="height: 10px"></div>

<div class="card">
	<div class="card-block">
		<h5 class="card-title">Recent Closed Tickets</h5>

		<table class="table table-hover table-sm" id="closedIssues">
		  <thead>
			<tr>
			  <th>Importance</th>
			  <th>Location</th>
			  <th>Contact</th>
			  <th>Type</th>
			  <th>Assigned To</th>
			</tr>
		  </thead>

		  <tbody>
			{% for closed in issuesClosed %}
			<tr id="{{closed._id}}">
			  <td>{{closed.issueImportance}}</td>
			  <td>{{closed.issueLocation}}</td>
			  <td>{{closed.issueReporterContactName}}</td>
			  <td>{{closed.issueType}}</td>
			  <td>{{closed.issueAssignedTo}}</td>
			</tr>
			{% endfor %}		  
		  </tbody>
		</table>
	
  </div>
</div>	

<div style="height: 5px"></div>
<span style="position: relative; top: 18px; left: 15px;"><h4 class="text-primary">Equipment</h4></span>
<hr>
<div style="height: 10px"></div>

<div class="card">
	<div class="card-block">
		<h5 class="card-title">All Open Equipment Moves</h5>

		<table class="table table-hover table-sm" id="openMoves">
		  <thead>
			<tr>
			  <th>Equipment Type</th>
			  <th>Moved From</th>
			  <th>Moved to</th>
			  <th>Request By</th>
			  <th>Requested On</th>
			</tr>
		  </thead>

		  <tbody>
			{% for move in moves %}
			<tr id="{{move._id}}">
			  <td>{{move.moveEquipmentType}}</td>
			  <td>{{move.moveFrom}}</td>
			  <td>{{move.moveTo}}</td>
			  <td>{{move.moveRequestBy}}</td>
			  <td>{{move.moveUpdates[0].moveUpdatedAt|unix}}</td>
			</tr>
			{% endfor %}		  
		  </tbody>
		</table>
	
  </div>
</div>		

<div style="height: 10px"></div>

<div class="card">
	<div class="card-block">
		<h5 class="card-title">Recent Equipment Moves</h5>

		<table class="table table-hover table-sm" id="closedMoves">
		  <thead>
			<tr>
			  <th>Equipment Type</th>
			  <th>Moved From</th>
			  <th>Moved to</th>
			  <th>Requested By</th>
			  <th>Completed On</th>
			</tr>
		  </thead>

		  <tbody>
			{% for recentMove in recentMoves %}
			<tr id="{{recentMove._id}}">
			  <td>{{recentMove.moveEquipmentType}}</td>
			  <td>{{recentMove.moveFrom}}</td>
			  <td>{{recentMove.moveTo}}</td>
			  <td>{{recentMove.moveRequestBy}}</td>
			  <td>{{recentMove.moveUpdates[recentMove.moveUpdates.length - 1].moveUpdatedAt|unix}}</td>
			</tr>
			{% endfor %}		  
		  </tbody>
		</table>
	
  </div>
</div>		


<script>
	$("table#openIssues tr").on( "click", function() {
		console.log($(this).attr('id'));
		window.location.href = "/issue/" + $(this).attr('id');
	});

	$("table#closedIssues tr").on( "click", function() {
		console.log($(this).attr('id'));
		window.location.href = "/issue/" + $(this).attr('id');
	});
	
	$("table#openMoves tr").on( "click", function() {
		console.log($(this).attr('id'));
		window.location.href = "/move/" + $(this).attr('id');
	});

	$("table#closedMoves tr").on( "click", function() {
		console.log($(this).attr('id'));
		window.location.href = "/move/" + $(this).attr('id');
	});

</script>

{% endblock %}

