{% extends "layout.html" %}

{% block body %}

<form enctype='application/json' method="post" action="/issue" name="issueTicket" id="issueTicket" class="issueTicket" role="form">

<div class="card">
	<div class="card-block">
		<h5 class="card-title">Create an Issue Ticket</h4>

		<div class="row">
			<div class="form-group col-6">
				<label for="issueType">Issue Type</label>
				<select class="form-control" name="issueType" id="issueType">
					<option value="Computer">Computer</option>
					<option value="Printer">Printer</option>
					<option value="Software">Software</option>
					<option value="LoginPassword">Login/Password</option>
					<option value="Connectivity">Connectivity</option>
					<option value="Other">Other (Specify Below)</option>
				</select>
			</div>

			<div class="form-group col-6">
				<label for="issueReporterType">Who is Reporting the Issue?</label>
				<select class="form-control" id="issueReporterType" name="issueReporterType">
					<option value="Faculty">Faculty</option>
					<option value="Student">Student</option>
					<option value="Staff">Staff</option>
					<option value="Other">Other</option>
				</select>
			</div>
		</div>

		<div style="display:none" id="formIssue">
			<div class="form-group">
				<label for="issueOther">Other (Please Specify)</label>
				<input type="text" class="form-control" id="issueOther" name="issueOther" placeholder="ex: Monitor stand is broken">
			</div>
		</div>

		<div class="row">
			<div class="form-group col-6">
				<label for="issueReporterContactName">Contact Name</label>
				<input type="text" class="form-control" id="issueReporterContactName" name="issueReporterContactName"
					placeholder="ex: John Doe"
					data-validation="required"
					data-validation-error-msg="A contact name is required">
			</div>

			<div class="form-group col-6">
				<label for="issueReporterContactEmail">Contact Email Address</label>
				<input type="text" class="form-control" id="issueReporterContactEmail" name="issueReporterContactEmail"
					placeholder="ex: user@nwacc.edu"
					data-validation="email required"
					data-validation-error-msg="A valid email is required">
			</div>
		</div>

		<div class="row">
			<div class="form-group col-6">
				<label for="issueLocation">Class, Room Number, or General Location</label>
				<input type="text" class="form-control" id="issueLocation" name="issueLocation" placeholder="ex: Room 1016"
					data-validation="required"
					data-validation-error-msg="A location is required.">
			</div>

			<!-- Student -->

			<div class="form-group col-6" style="display:none" id="formStudent">
				<label for="issueSID">Student ID</label>
				<input type="number" class="form-control" id="issueSID" name="issueSID" aria-describedby="emailHelp" placeholder="1001234567">
			</div>


			<!-- /.student -->
		</div>

		<div class="form-group">
			<label for="issueDetail">Describe the Issue</label>
			<textarea class="form-control" id="issueDetail" name="issueDetail" rows="5"
				data-validation="required"
				data-validation-error-msg="You must describe the issue"></textarea>
		</div>

		<div class="row">

			<div class="form-group col-4">
				<label for="issueImportance">Importance</label>
				<select class="form-control" id="issueImportance" name="issueImportance">
					<option value="Ciritcal" class="text-danger">Critical</option>
					<option value="High" class="text-warning">High</option>
					<option value="Normal" class="text-primary" selected>Normal</option>
					<option value="Low" class="text-success">Low</option>
				</select>
			</div>

			<div class="form-group col-4">
				<label for="issueRequiredBy">Required By</label>
				<div class="input-group date">
					<input type="text" class="form-control" id="issueRequiredBy" name="issueRequiredBy"
						data-validation="date"
						data-validation-format="mm/dd/yyyy">
					<span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
				</div>
			</div>

			<div class="form-group col-4">
				<label for="issueAssignedTo">Assign To</label>
				<select class="form-control" id="issueAssignedTo" name="issueAssignedTo">
					<option value="0">First Available</option>
					{% for support in supports %}
					<option value="{{support.username}}">{{support.username}}</option>
					{% endfor %}
				</select>
			</div>
						
		</div>
		
		<div class="row">
			<div class="col-12">
				<span class="pull-right">
					<button type="submit" id="issueSubmit" class="btn btn-primary">Submit Issue</button>
				</span>
			</div>
		</div>
	</div>
</div>
</form>

<script>
	$(document).ready(function () {

		$('.input-group.date').datepicker({
			startDate: "Now",
			maxViewMode: 1,
			todayBtn: true,
			daysOfWeekDisabled: "0,6",
			daysOfWeekHighlighted: "1,2,3,4,5",
			autoclose: true,
			todayHighlight: true
		});

		$('#issueReporterType').change(function () {
			if ($(this).val() == 'Student') {
				$('#formStudent').show();
			} else {
				$('#formStudent').hide();
			}
		});

		$('#issueType').change(function () {
			if ($(this).val() == 'Other') {
				$('#formIssue').show();
			} else {
				$('#formIssue').hide();
			}
		})
		
		$.validate({
			modules : 'html5, toggleDisabled, date',
			scrollToTopOnError : true,		
		});
		
	});
</script>

{% endblock %}

