{% extends "layout.html" %}

{% block body %}

<form enctype='application/json' method="post" action="/move" class="moveForm">

<div class="card">
  <div class="card-block">
    <h5 class="card-title">Equipment Move</h4>
	
		<div class="row">
		
			<div class="form-group col-3">
				<label for="moveEquipmentType">Equipment Type</label>
				<select class="form-control" id="moveEquipmentType" name="moveEquipmentType">
					<option>Computer</option>
					<option>Monitor</option>
					<option>TV</option>
					<option>Furniture</option>
					<option>Other</option>
				</select>
			</div>
		
			<div class="form-group col-3">
				<label for="moveFrom">Move From</label>
				<input type="text" class="form-control" id="moveFrom" name="moveFrom"
					data-validation="required"
					data-validation-error-msg="Location required">
			</div>
		
			<div class="form-group col-3">
				<label for="moveFrom">Move To</label>
				<input type="text" class="form-control" id="moveTo" name="moveTo"
					data-validation="required"
					data-validation-error-msg="Location required">				
			</div>

			<div class="form-group col-3">
				<label for="moveImportance">Importance</label>
				<select class="form-control" id="moveImportance" name="moveImportance">
					<option value="Ciritcal" class="text-danger">Critical</option>
					<option value="High" class="text-warning">High</option>
					<option value="Normal" class="text-primary" selected>Normal</option>
					<option value="Low" class="text-success">Low</option>
				</select>
			</div>			
			
		</div>

		<div class="row">

			<div class="form-group col-4">
				<label for="moveRequestBy">Requested By</label>
				<input type="text" class="form-control" id="moveRequestBy" name="moveRequestBy"
					data-validation="required"
					data-validation-error-msg="A name is required">			
			</div>
			
			<div class="form-group col-4">
				<label for="moveRequiredBy">Required By</label>
				<div class="input-group date">
					<input type="text" class="form-control" id="moveRequiredBy" name="moveRequiredBy"
						data-validation="date"
						data-validation-format="mm/dd/yyyy">					
					<span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
				</div>
			</div>

			<div class="form-group col-4">
				<label for="moveAssignedTo">Assign To</label>
				<select class="form-control" id="moveAssignedTo" name="moveAssignedTo">
					<option value="0">First Available</option>
					{% for support in supports %}
					<option value="{{support.username}}">{{support.username}}</option>
					{% endfor %}
				</select>
			</div>
			
		</div>
		
		<div class="row">
		
			<div class="form-group col-12">
				<label for="moveDetails">Equipment Move Details</label>
				<textarea class="form-control" id="moveDetails" name="moveDetails" rows="5"
					data-validation="required"
					data-validation-error-msg="Please specify a reason for the move"></textarea>
			</div>			
			
			<div class="col-12">
				<span class="pull-right">
					<button type="submit" class="btn btn-primary">Submit Move</button>
				</span>
			</div>			
			
		</div>

  </div>
</div>
</form>	

<script>
	$(document).ready(function () {

		$('.input-group.date').datepicker({
			startDate: "Now",
			maxViewMode: 1,
			todayBtn: true,
			daysOfWeekDisabled: "0,6",
			daysOfWeekHighlighted: "1,2,3,4,5",
			autoclose: true,
			todayHighlight: true
		});
		
		$.validate({
			modules : 'html5, toggleDisabled, date',
			scrollToTopOnError : true,			
		});

		
	});
</script>
{% endblock %}

