
{% extends "layout.html" %}

{% block body %}

<form enctype='application/json' method="post" action="/move/update/{{move.id}}">

<div class="card">
  <div class="card-block">
	<h6 class="card-subtitle mb-2 text-muted">Created: <strong>{{move.moveUpdates[0].moveUpdatedAt|unix}}</strong><span class="pull-right">Move Status: <span class="text-danger"><strong>{{move.moveStatus}}</strong></span></span></h6>
	
		<div class="row">
		
			<div class="form-group col-4">
				<label for="moveEquipmentType">Equipment Type</label>
				<input type="text" class="form-control" id="moveEquipmentType" name="moveEquipmentType" value="{{move.moveEquipmentType}}" disabled>
			</div>
		
			<div class="form-group col-4">
				<label for="moveFrom">Move From</label>
				<input type="text" class="form-control" id="moveFrom" name="moveFrom" value="{{move.moveFrom}}" disabled>		
			</div>
		
			<div class="form-group col-4">
				<label for="moveFrom">Move To</label>
				<input type="text" class="form-control" id="moveTo" name="moveTo" value="{{move.moveTo}}" disabled>		
			</div>
			
		</div>
		<div class="row">

			<div class="form-group col-4">
				<label for="moveRequestBy">Requested By</label>
				<input type="text" class="form-control" id="moveRequestBy" name="moveRequestBy" value="{{move.moveRequestBy}}" disabled>		
			</div>
			<div class="form-group col-4">
				<label for="moveRequiredBy">Required By</label>
				<input type="text" class="form-control" id="moveRequiredBy" name="moveRequiredBy" value="{{move.moveRequiredBy|unix}}" disabled>		
			</div>
			<div class="form-group col-4">
				<label for="moveAssignedTo">Assigned To</label>
				<input type="text" class="form-control" id="moveAssignedTo" name="moveAssignedTo" value="{{move.moveAssignedTo|getUser}}" disabled>		
			</div>
			
		</div>

  </div>
</div>


<div style="height: 10px;"></div>

<div class="card">
	<div class="card-block">
		<h4 class="card-title">Update Details</h4>

		{% for update in move.moveUpdates %}
		<div style="height: 10px;"></div>

		<div class="card">
			<div class="card-block">
				<h6 class="card-subtitle mb-2 text-muted">Updated: <strong>{{update.moveUpdatedAt|unix}}</strong></h6>

				<div class="form-group">
					<label for="issueDetail">Update Description</label>
					<textarea class="form-control" id="issueDetail" disabled>{{update.moveDetails}}</textarea>
				</div>

				<div class="row">
					<div class="form-group col-4">
						<label for="moveImportance">Status</label>
						<input type="text" class="form-control" id="moveImportance" value="{{update.moveImportance}}" disabled>
					</div>

					<div class="form-group col-4">
						<label for="moveStatus">Status</label>
						<input type="text" class="form-control" id="moveStatus" value="{{update.moveStatus}}" disabled>
					</div>

					<div class="form-group col-4">
						<label for="moveSupportName">Support Name</label>
						<input type="text" class="form-control" id="moveSupportName" value="{{update.support.username}}" disabled>
					</div>

				</div>
				
			</div>
		</div>
		{% endfor %}
		
	</div>
</div>

{% if move.moveStatus != "Closed" %}
{% if user %}
<div style="height: 10px;"></div>

<div class="card">
	<div class="card-block">
		<h4 class="card-title">New Update Details</h4>

		<div class="form-group">
			<label for="moveDetails">Update Description</label>
			<textarea class="form-control" id="moveDetails" name="moveDetails" rows="5"></textarea>
		</div>

		<div class="row">
		
			<div class="form-group col-3">
				<label for="moveImportance">Importance</label>
				<select class="form-control" id="moveImportance" name="moveImportance">
					<option value="Ciritcal" class="text-danger">Critical</option>
					<option value="High" class="text-warning">High</option>
					<option value="Normal" class="text-primary" selected>Normal</option>
					<option value="Low" class="text-success">Low</option>
				</select>
			</div>			

			<div class="form-group col-4">
				<label for="moveStatus">Status</label>
				<select class="form-control" id="moveStatus" name="moveStatus">
					<option value="Open" selected>Open</option>
					<option value="Closed">Closed</option>
				</select>
			</div>
			
		</div>
		<div class="col-12">
			<span class="pull-right">
				<button type="submit" class="btn btn-primary">Update Move</button>
			</span>
		</div>
						
	</div>
</div>
{% endif %}
{% endif %}

</form>

{% endblock %}

