
{% extends "layout.html" %}

{% block body %}

<div class="card">
	<div class="card-block">
		<h5 class="card-title">Your Tasklist</h5>
		
		<table class="table table-hover table-sm">
			<thead>
				<tr>
					<th>Task</th>
					<th>Type</th>
					<th>Importance</th>
					<th>Created</th>
					<th>Required By</th>
				</tr>
			</thead>

			<tbody id="openIssues">
		  
				{% for ticket in tickets %}
				<tr id="{{ticket.id}}">
					<td>Ticket</td>
					<td>{{ticket.issueType}}</td>
					<td>{{ticket.issueUpdates[ticket.issueUpdates.length - 1].issueImportance}}</td>
					<td>{{ticket.issueUpdates[0].issueUpdatedAt|unix}}</td>
					<td>{{ticket.issueRequiredBy|unix}}</td>
				</tr>
				{% endfor %}
				
			</tbody>
			<tbody id="openMoves">
			
				{% for move in moves %}
				<tr id="{{move.id}}">
					<td>Move</td>
					<td>{{move.moveEquipmentType}}</td>
					<td>{{move.moveUpdates[move.moveUpdates.length - 1].moveImportance}}</td>
					<td>{{move.moveUpdates[0].moveUpdatedAt|unix}}</td>
					<td>{{move.moveRequiredBy|unix}}</td>
				</tr>
				{% endfor %}
				
			</tbody>
		</table>
		
	</div>
</div>

<script>

	$("tbody#openIssues tr").on( "click", function() {
		console.log($(this).attr('id'));
		window.location.href = "/issue/" + $(this).attr('id');
	});
	
	$("tbody#openMoves tr").on( "click", function() {
		console.log($(this).attr('id'));
		window.location.href = "/move/" + $(this).attr('id');
	});
	
</script>

{% endblock %}














